@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:hover {
  cursor: text;
  caret-color: black; /* Ensures the text cursor is black */
  background-color: #f0f0f0; /* Adjust the background color on hover */
  color: #000000; /* Adjust the text color on hover */
}

button:hover {
  cursor: pointer;
}
